body {
  background: linear-gradient(135deg, hsl(0, 0%, 3%) 0%, #313336 70%);
  color: white;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
main {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

